@model IEnumerable<capstone.Models.StudentClassesViewModel>

@{
    ViewData["Title"] = "Student Classes";
}



<!--Populated in the StudentClasses method in the Students Controller-->
<table class="table">
    <thead>
        <tr>
                <th>
                    <!--@Html.DisplayNameFor(model => model.first_name)-->
				    First Name
                </th>
                <th>
                    <!--@Html.DisplayNameFor(model => model.first_name)-->
                    Last Name
                </th>			
                <th>
                    <!--@Html.DisplayNameFor(model => model.last_name)-->
				    Category
                </th>
                <th>
                    <!--@Html.DisplayNameFor(model => model.email)-->
				    Class Name
                </th>
<!--                <th>
                    @Html.DisplayNameFor(model => model.phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.userID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.password)
                </th>
--><!--            <th></th>
-->        </tr>
    </thead>

	<tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>



			<!--            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
-->        
		</tr>
}
    </tbody>
</table>

<p>----------------------------Request A Class----------------------------</p>
<p></p>
<!--Worst Case, Use this form to send a hard-coded value for the demo-->
<!--<form asp-controller="StudentSubjects" asp-action="insertStudentClass" method="post">-->

	<label class="categoryLbl">Category</label>
	<div>
	    <select id="category" name="category">
	        <option></option>
	        <option>Academics</option>
	        <option>Languages</option>
	        <option>Mathematics</option>
	        <option>SAT Test Prep</option>
	    </select>
	</div>
	<br />
	<br />
	<label class="classLbl">Class</label>
	<div>
	    <select id="classNames" name="classNames"></select>
	</div>  
	<br/>
	<br/>
	<div>
		<p>
	        <td colspan="2"><input id="submitNewClassBtn" type="submit" value="Request a Class" /></td>
		</p>
	</div>
<!--</form>-->

    