@model IEnumerable<capstone.Models.StudentClassesViewModel>

@{
    ViewData["Title"] = "Student Classes";
}

<!--Populated in the StudentClasses method in the Students Controller-->
<table class="table">
    <thead>
        <tr>
                <th>
                    <!--@Html.DisplayNameFor(model => model.first_name)-->
				    First Name
                </th>
                <th>
                    <!--@Html.DisplayNameFor(model => model.first_name)-->
                    Last Name
                </th>			
                <th>
                    <!--@Html.DisplayNameFor(model => model.last_name)-->
				    Category
                </th>
                <th>
                    <!--@Html.DisplayNameFor(model => model.email)-->
				    Class Name
                </th>
<!--                <th>
                    @Html.DisplayNameFor(model => model.phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.userID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.password)
                </th>
--><!--            <th></th>
-->        </tr>
    </thead>

	<tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>



			<!--            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
-->        
		</tr>
}
    </tbody>
</table>

<p>----------------------------Request A Class----------------------------</p>
<p></p>
<form asp-controller="Login" asp-action="login" method="post">
	<div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Musical Instruments
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">guitar</a></li>
            <li><a href="#">double bass</a></li>
            <li><a href="#">violin</a></li> 
			<li><a href="#">bass guitar</a></li> 
			<li><a href="#">trombone</a></li>
			<li><a href="#">trumpet</a></li>
            <li><a href="#">piano</a></li>
          </ul>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Academics
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">elementary science</a></li>
            <li><a href="#">middle grades science</a></li>
            <li><a href="#">chemistry</a></li> 
            <li><a href="#">history</a></li> 
            <li><a href="#">writing</a></li>
            <li><a href="#">reading</a></li>
          </ul>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Languages
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">japanese</a></li>
            <li><a href="#">german</a></li>
            <li><a href="#">french</a></li> 
            <li><a href="#">spanish</a></li> 
            <li><a href="#">english</a></li>
          </ul>
      </ul>

		
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mathematics
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">precalculus</a></li>
            <li><a href="#">algebra 2</a></li>
            <li><a href="#">geometry</a></li> 
            <li><a href="#">algebra 1</a></li> 
            <li><a href="#">middle school math</a></li>
          </ul>
      </ul>

		      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">SAT Test Prep
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">mathematics level 1</a></li>
            <li><a href="#">mathematics level 2</a></li>
          </ul>
      </ul>

    </div>

	<div>
		<p>
	        <td colspan="2"><input id="Submit1" type="submit" value="Request a Class" /></td>
		</p>
	</div>
</form>

    