@model IEnumerable<capstone.Models.MentorClassesViewModel>

@{
    ViewData["Title"] = "Mentor Classes";
}

<h2>Mentor Classes</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    First Name
                </th>
			    <th>
                    Last Name
                </th>
                <th>
                    Category
                </th>
                <th>
                    Class Name
                </th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
			<td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
        </tr>
}
    </tbody>


</table>

    <p>Latest Notifications</p>
    @foreach(var str in ViewBag.Notifications)
    {
      <div class="notification">  
	      <p>
	      @Html.Raw(str)
		  </p>
	      <p>
	        <button type="button" class="btn btn-primary">Respond To Request</button>
		  </p>
	  </div>  

    }

